*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    width: 100vw;
    height: 40px;
    border: 2px solid black;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    background-color: rgb(255, 255, 255);
}
nav ul{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    cursor: pointer;
}
nav ul li a:hover{
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    color: red;
}

section{
    width: 100vw;
    height: auto;
    border: 2px solid black;
    margin: 10px auto;
    padding: 10px;
    justify-content: center;

}

#homem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.figuras{
    border: 1px solid white;
    width: 150px;
    height: 150px; 
    border-radius: 50%;

}

#titulo{
    font-family:"Tiny5", sans-serif;
}